<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/ui.css">
</head>
<body>
    
<div class="container">
    <h1>添加商品</h1>
    <form action="" method="post" enctype="multipart/form-data" >
        <h3>商品名称</h3>
        <input type="text" name="name">
        <h3>商品价格</h3>
        <input type="text" name="price">
        <h3>商品图片</h3>
        <input type="file" name="image">
        <input type="submit" value="提交">
    </form>
</div>
</body>
</html>
